@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #1a1a1a;
  font-family: 'Inter', sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 20px;
  border-radius: 10px;
  background: #262626;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #262626;
  box-shadow: inset 7px 7px 14px #202020,
              inset -7px -7px 14px #2c2c2c;

  &__item {
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    font-family: 'Inter', sans-serif;
    color: #c4c4c4;
    font-size: 24px;
    text-align: right;

    & + & {
      margin-top: 8px;
    }
  }

  &--top {
    font-size: 16px;
    color: #929292;
  }

  &--bottom {
    font-size: 32px;
  }
}

.keyboard {
  display: grid;
  grid-template-areas:
    'operTop operTop operTop operTop'
    'keysCenter keysCenter keysCenter operAside'
    'keysBottom keysBottom keysBottom keysBottom';
  gap: 5px;

  .operators--top {
    grid-area: operTop;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  .operators--aside {
    grid-area: operAside;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
  }

  &__numbers {
    grid-area: keysCenter;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  &__bottom {
    grid-area: keysBottom;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 50px;
  height: 50px;
  border: 2px solid #303030;
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  border-radius: 10px;
  background: #262626;
  box-shadow: 5px 5px 10px #202020,
              -5px -5px 10px #2c2c2c;
  color: #c4c4c4;
  cursor: pointer;
  transition: .15s;

  &:hover, &:focus-visible {
    color: #dffffd;
    border-color: #424242;
    outline: none;
  }

  &:active {
    background: linear-gradient(145deg, #222222, #292929);
  }

  &--operator, &--equally {
    border-color: #26333f;
    font-size: 24px;

    &:hover {
      border-color: #314b61;
    }
  }

  &--clear, &--backspace {
    border-color: #3f2c26;

    &:hover {
      border-color: #613731;
    }
  }

  sup {
    font-size: 14px;
  }
}