@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #1a1a1a;
  font: 16px/24px 'Inter', sans-serif;
}

.calculator {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  border-radius: 10px;
  padding: 20px;
  background: #262626;

  &__output {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 14px;
    background: #262626;
    box-shadow: inset 7px 7px 14px #202020,
                inset -7px -7px 14px #2c2c2c;

    .output__item {
      width: 100%;
      height: 40px;
      outline: none;
      border: none;
      background: transparent;
      color: #c4c4c4;
      font: 1.5rem/100% 'Inter', sans-serif;
      font-size: 24px;
      text-align: right;

      &--top {
        font-size: 1rem;
        color: #929292;
      }

      &--bottom {
        font-size: 2rem;
      }
    }
  }

  &__keyboard {
    display: grid;
    grid-template-areas:
      'oper-top oper-top oper-top oper-top'
      'num-center num-center num-center oper-aside'
      'btn-bottom btn-bottom btn-bottom btn-bottom';
    gap: 5px;

    .operators--top, .operators--aside,
    .keyboard__numbers, .keyboard__bottom {
      display: grid;
      gap: 5px;
    }

    .operators--top {
      grid-area: oper-top;
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 8px;
    }

    .operators--aside {
      grid-area: oper-aside;
      grid-template-rows: repeat(4, 1fr);
    }

    .keyboard__numbers {
      grid-area: num-center;
      grid-template-columns: repeat(3, 1fr);
    }

    .keyboard__bottom {
      grid-area: btn-bottom;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 8px;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 50px;
  height: 50px;
  border: 2px solid #303030;
  border-radius: 10px;
  color: #c4c4c4;
  font-size: 1.5rem;
  background: #262626;
  box-shadow: 5px 5px 10px #202020,
              -5px -5px 10px #2c2c2c;
  cursor: pointer;
  transition: .15s;

  &:hover, &:focus-visible {
    outline: none;
    border-color: #424242;
    color: #dffffd;
  }

  &:active {
    background: linear-gradient(145deg, #222222, #292929);
  }

  &--operator, &--equally {
    border-color: #26333f;
    font-size: 1.75rem;

    &:hover {
      border-color: #314b61;
    }

    &[data-unary] {
      font-size: 1.5rem;
    }
  }

  &--clear, &--backspace {
    border-color: #3f2c26;

    &:hover {
      border-color: #613731;
    }
  }
}