@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: #1a1a1a;
  font-family: 'Inter', sans-serif;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  padding: 20px;
  border-radius: 10px;
  background: #262626;
}

.output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #262626;
  -webkit-box-shadow: inset 7px 7px 14px #202020, inset -7px -7px 14px #2c2c2c;
          box-shadow: inset 7px 7px 14px #202020, inset -7px -7px 14px #2c2c2c;
}

.output__item {
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  font-family: 'Inter', sans-serif;
  color: #c4c4c4;
  font-size: 24px;
  text-align: right;
}

.output__item + .output__item {
  margin-top: 8px;
}

.output--top {
  font-size: 16px;
  color: #929292;
}

.output--bottom {
  font-size: 32px;
}

.keyboard {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'operTop operTop operTop operTop' 'keysCenter keysCenter keysCenter operAside' 'keysBottom keysBottom keysBottom keysBottom';
  gap: 5px;
}

.keyboard .operators--top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: operTop;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.keyboard .operators--aside {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: operAside;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

.keyboard__numbers {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: keysCenter;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.keyboard__bottom {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: keysBottom;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 50px;
  height: 50px;
  border: 2px solid #303030;
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  border-radius: 10px;
  background: #262626;
  -webkit-box-shadow: 5px 5px 10px #202020, -5px -5px 10px #2c2c2c;
          box-shadow: 5px 5px 10px #202020, -5px -5px 10px #2c2c2c;
  color: #c4c4c4;
  cursor: pointer;
  -webkit-transition: .15s;
  transition: .15s;
}

.btn:hover, .btn:focus-visible {
  color: #dffffd;
  border-color: #424242;
  outline: none;
}

.btn:active {
  background: linear-gradient(145deg, #222222, #292929);
}

.btn--operator, .btn--equally {
  border-color: #26333f;
  font-size: 24px;
}

.btn--operator:hover, .btn--equally:hover {
  border-color: #314b61;
}

.btn--clear, .btn--backspace {
  border-color: #3f2c26;
}

.btn--clear:hover, .btn--backspace:hover {
  border-color: #613731;
}

.btn sup {
  font-size: 14px;
}
